/* div {
  width: 150px;
  height: 150px;
  float: left;
  text-align: center;
} */

body {
  width: 480px;
  margin: auto;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
  grid-template-columns: 240px 240px;
  text-align: center;
}

/* nav {
  grid-column-start: 1;
  grid-column-end: 3;
  line-height: 75px;
}

aside {
  grid-column-start: 1;
  grid-column-end: 3;
  line-height: 150px;
} */

/* .largeCard {
  grid-column-start: 1;
  grid-column-end: 3;
  line-height: 125px;
}

.smallCard {
  line-height: 250px;
} */

/* #footer {
  grid-column-start: 1;
  grid-column-end: 3;
  line-height: 80px;
} */

/* .float {
  width: 150px;
  height: 150px;
  float: left;
  text-align: center; 
} */

/* .clear {
  clear: both;
  margin: -2px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  text-align: center;
} */

p {
  position: relative;
  top: 50%;
}

body {
  width: 480px;
  margin: auto;
}

#a {
  width: 480px;
  height: 75px;
}

#b {
  width: 480px;
  height: 150px;
}

#c {
  width: 480px;
  height: 125px;
}

#d {
  width: 480px;
  height: 125px;
}

#e {
  width: 240px;
  height: 250px;
}

#f {
  width: 240px;
  height: 250px;
}

#g {
  width: 240px;
  height: 250px;
}

#h {
  width: 240px;
  height: 250px;
}

#i {
  width: 480px;
  height: 80px;
}

/*When screen is desktop*/
@media(min-width: 767px) {
  body {
    width: 960px;
    /* height: 768px; */
    margin: auto;
    display: inline-grid;
    grid-template-rows: 100px 200px 250px 150px;
    grid-template-columns: 200px 190px 190px 190px 190px;
    text-align: center;
  }

  /* nav {
    grid-column-start: 1;
    grid-column-end: 3;
    line-height: 100px;
  }

  aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    line-height: 600px;
  } */

  #a {
    width: 960px;
    height: 100px;
  }

  #b {
    width: 200px;
    height: 600px;
  }

  #c {
    width: 380px;
    height: 200px;
  }
  
  #d {
    width: 380px;
    height: 200px;
  }

  #e {
    width: 190px;
    height: 250px;
  }
  
  #f {
    width: 190px;
    height: 250px;
  }

  #g {
    width: 190px;
    height: 250px;
  }
  
  #h {
    width: 190px;
    height: 250px;
  }

  #i {
    width: 760px;
    height: 150px;
  }
}